h1{
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}
.image-1{
    background-image: url("nws_grbinfohero.jpg");
    height: 850px;
    background-size: cover;
    
}
@media screen and (max-width: 1px){
    html{
        min-width:100%;
        min-height: 100%;
    }
}
.image-2{
    background-image: url("Ghost-Recon-Breakpoint.jpg");
    height: 900px;
    background-size: cover;
}
.div_title{

    display: block;
    background-color: black;
}
.oscuramento{
    background-color: rgba(0, 0, 0, 0.493);
    height: 100%;
}
.simbolo_xbox{
    width: 64px;
    height: 47px;
    left: 18.17px;
    top: 81.23px;
    background-position: center;
    background-size: cover;
    background-image: url("xbox.png");
    margin-left:100px;
    border: auto auto transparent;
    
}
.simbolo_sony{
    width: 43px;
    height: 47px;
    left: 50px;
    top: 81.23px;
    background-position: center;
    background-size: cover;
    background-image: url("simbolo_sony.png");
    margin-right: 100px;
    
}
nav{
    background-color: rgba(255, 255, 255, 0.1);
    
}
#tag_title{
    padding-top: -5px;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 45%;
}
#a{
    align-items: center;
}
.div-form{
    background-color: rgba(255, 255, 255, 0.5);
    border-style: dashed  ;
    border-color: white;
    padding: 15px;
    border-radius: 15px;
}
footer{
    background-color: black;
}
.input-form{
    border-radius: 10px;
}