h1{
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}
.image-1{
    background-image: url("nws_grbinfohero.jpg");
    height: 850px;
    background-size: cover;
   
}
@media screen and (max-width: 1px){
    html{
        min-width:100%;
        min-height: 100%;
    }
}
.image-2{
    background-image: url("Ghost-Recon-Breakpoint.jpg");
    height: 900px;
    background-size: cover;
}
.div_title{

    display: block;
    background-color: black;
}
.oscuramento{
    background-color: rgba(0, 0, 0, 0.493);
    height: 100%;
}
.simbolo_xbox{
    width: 64px;
    height: 64px;
    left: 18.17px;
    top: 81.23px;
    background-position: center;
    background-size: cover;
    background: url("xbox.png") no-repeat center;
    margin-left:100px;
    

    
}
.simbolo_sony{
    width: 64px;
    height: 64px;
    left: 50px;
    top: 81.23px;
    background-position: center;
    background-size: cover;
    background-image: url("simbolo_sony.png");
    margin-right: 100px;
    
}
nav{
    background-color: rgba(255, 255, 255, 0.1);
    
}
#tag_title{
    padding-top: -5px;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 45%;
    font-family: "Serif";
    font-size: xx-large;
}
#a{
    align-items: center;
    
}
.div-form{
    background-color: rgba(255, 255, 255, 0.2);
    
    padding: 15px;
    border-radius: 15px;
}
footer{
    background: url("sfondo_form.jfif");
}
.input-form{
    border-radius: 10px;
    width: 250px;
    height: 50px;
}
#description{
   
    height: 200px;
    width: 300px;
}
#p_description{
    padding-bottom:-3px ;
}
.section_form{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
input[type="submit"]:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: aquamarine;
    
}
input[type="submit"]{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    border: none;
    margin-top: 30px;
}
.div_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 550px;
}
.div_container_shop{

    display: block;
    background-color: rgba(255, 255, 255, 0.1);
}
.div-shop{
    height: 500px;
    width: 600px;
    background-color: rgba(255, 255, 255);
    margin-top: 90px ;
    margin-left: 500px;
}
.image-shop{
    background: url("ghost_ps4.png");
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    margin-top: 50px ;
    margin-left: 50px;
    
}
.image-shop:hover{
    background:url("ghost_xbox.png");
    
}
.button-shop{
    background-color: rgba(111, 106, 4, 0.4);
   
    
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    border: none;
    margin-top: 300px;
    margin-right: -50px;
}
.div_separazione{
    background-color: black;
    display: block;
    height: 50px;
}